html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    min-width: 200px;
    margin: auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(71, 71, 71, 0.9);
}

/* Header */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.header-content {
    display: flex;
    height: 64px;
}

.logo-desktop {
    width: 30%;
    height: 100%;
    display: flex;
    padding-left: 24px;
    align-items: center;
}

.logo-desktop a {
    text-decoration: none;
    color: rgba(71, 71, 71, 0.9);
}

strong {
    color: black;
}

.header-nav {
    width: 70%;
    height: 100%;
    padding-right: 24px;
}

header nav ul, footer nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 16px;
    float: right;   
}

.header-nav a, footer a {
    text-decoration: none;
    padding-left: 16px;
    color: rgba(71, 71, 71, 0.9);
}

.main-content {
    position: relative; /* To offset for fixed header. */
    top: 64px;
}

.header-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    header nav, header nav ul {
        justify-content: space-around;
        width: 100%;
    }

    .logo {
        padding: 0;
    }

    .header-mobile {
        display: flex;
    }

    .header-content {
        display: none;
    }
}

@media only screen and (min-width: 1800px) {
    body {
        width: 80%;
    }
    header {
        width: 80%;
    }
}

/* Banner section */
.banner-section {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}

.banner-section img {
    padding: 32px 24px;
    width: 60%;
    overflow: hidden;
}

.banner-text {
    width: 40%;
}

a.button {
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    background-color: rgba(71, 71, 71, 0.9);
    padding: 8 50;
}

@media only screen and (max-width: 768px) {
    .banner-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .banner-section img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .banner-text {
        width: auto;
        padding: 32px 16px;
        overflow: hidden;
    }

    .banner-text h1 {
        margin: 0;
        padding-bottom: 32px;
    }

    .banner-text p {
        margin: 0;
        padding-bottom: 24px;
    }
}

/* Main info */
.main-info-2-mobile {
    display: none;
}

.main-info {
    width: 100%;
    background-color: white;
    display: flex;
}

.main-info-1 {
    width: 60%;
    overflow: hidden;
    padding: 32 24;
    border-right: 1px solid lightgray;
}

.main-info-1-text {
    padding: 32 0;
}

.main-info-1-text h2 {
    margin: 0;
    padding-bottom: 24px;
}

.main-info-1 img {
    width: 100%;
}

.main-info-2-desktop {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-info-2-desktop a {
    text-decoration: none;
}

.oc, .gl {
    border-top: 1px solid lightgray;
}

.od, .oc, .gl {
    display: flex;
    align-items: center;
    width: 100%;
}

.od img, .oc img, .gl img {
    width: 35%;
    height: auto;
    padding: 16px;
}

@media only screen and (max-width: 768px) {
    .main-info-1, .main-info-2-desktop {
        display: none;
    }

    .main-info-2-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .main-info-mobile-text {
        padding: 32px 16px;
    }

    .main-info-mobile-text h3 {
        margin: 0;
    }

    .main-info-2-mobile a {
        text-decoration: none;
    }

    .main-info-2-mobile img {
        width: 100%;
        height: auto;
    }
}

/* Course section */

.course-sec {
    width: 100%;
    background-color: lightgray;
}

.course-sec h2 {
    text-align: center;
    padding-top: 32px;
    margin: 0;
}

.course-sec-img {
    display: flex;
    flex-wrap: wrap;
    padding: 32 40;
    justify-content: space-around;
}

.course-block {
    background-color: white;
    width: 532px;
    margin: 32px;
}

.course-text {
    padding: 16px;
}

.course {
    padding: 8 0;
}

@media only screen and (max-width: 768px) {
    .course-block img {
        display: none;
    }

    .course-text p {
        display: none;
    }

    .course-sec {
        background-color: white;
        border-top: 1px solid lightgray;
    }

    .course-sec-img {
        padding: 16px 16px 32px 16px;
    }

    .course-sec h2 {
        margin: 0;
        padding-top: 32px;
    }

    .course-text {
        background-color: lightgray;
        color: rgba(71, 71, 71, 0.9);
        padding: 0;
    }

    .course-text h3 {
        margin: 0;
        margin-bottom: 8px;
        padding: 16px 16px 24px 16px;
    }

    .course-block {
        margin: auto;
    }
}

/* Thesis section */

.thesis-sec {
    width: 100%;
}

.thesis-sec h2 {
    text-align: center;
    padding: 32 0;
    margin: 0;
}

.thesis-sec-both {
    display: flex;
}

.thesis-sec-1 {
    width: 60%;
    padding: 32 24;
}

.thesis-sec-1 h3 {
    padding: 24 0 8 0;
    margin: 0;
}

.thesis-sec-1 video {
    width: 100%;
}

.thesis-sec-2 {
    width: 40%;
    padding: 32 0;
}

.thesis-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.thesis-block img {
    padding: 16px;
    width: 35%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .thesis-sec-2, .thesis-sec-1 h3, .thesis-sec-1 p {
        display: none;
    }

    .thesis-sec-1 {
        width: 100%;
        padding: 0;
        padding-bottom: 24px;
    }
}

.thesis-sec {
    border-top: 1px solid lightgray;
}

.thesis-sec h2 {
    padding: 32px 0px 16px 0px;
}

/* Footer */

.footer {
    display: flex;
    padding: 16 24;
    border-top: 1px solid lightgray;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 50%;
    float: right;
}

.nav-footer {
    float: right;
}

footer a, footer p {
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    .footer {
        border-top: none;
        padding: 0;
    }

    .footer-right {
        display: none;
    }

    .footer-left {
        width: 100%;
        padding: 16px;
    }
}
